body {
    margin : 10px;
    padding: 2px;
    background : #eeeeee;
    font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
    font-size: 11px;
    color: #515254;
}
#title {
padding: 2px;
font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
font-size: 24px;
}
button {
    background-color: #f68a1f;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	  border-radius: 4px;
	  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	  font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
}
button:hover {
    background-color: #da7009;
    color: white;
}

input {

    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	  font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
}
input:focus {
    border: 3px solid #555;
}

label {
    font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    color: #515254;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0
}

textarea {

    padding: 10px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 12px;
	  font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
}
textarea:focus {
    border: 3px solid #555;
}
#text {
padding: 2px;
font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
}
